{% extends 'base.html.twig' %}

{% block title %}Nouveau Lieu{% endblock %}

{% block main %}
    <h1>Créer un Lieu</h1>

    {{ include('lieu/_form.html.twig') }}

    <a href="{{ path('app_sortie_index') }}">Acceuil</a>
{% endblock %}
