.profil {
    margin-top: 80px;
    backdrop-filter: blur(6px);
    background-color: rgba(244, 189, 251, 0.216);
    border-radius: 15px;
    padding: 30px;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.title{
    text-decoration: underline;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn-modif{
    margin-right: 10px;
}

.btn-suppr{
    margin-left: 10px;
}

.btn-style{
    color: black;
}

.btn-style:hover{
    color: pink;
}