.content {
    display: flex;
    backdrop-filter: blur(6px);
    padding: 20px;
}

#map {
    height: 500px;
    width: 450px;
    margin-top: 13vh;
    border: 1px solid black;
}

.detail-sortie {
    text-align: center;
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: normal;
}

a{
    margin: 10px;
    color: black;
}

a:hover{
    color: black;
}

button{
    font-size: larger;
    border-radius: 100px;
}

button:hover{
    transform: scale(1.1);
    transform: rotate(10deg);
    cursor: pointer;
}

.sortie-complet{
    text-decoration: underline;
    font-weight: 600;
}

.detail-sortie p{
    margin: 10px;
    color: black;
    white-space: normal;
}

.desc{
    font-size: 27px;
    width: 100%;
}

.list{
    overflow-y: scroll;
    color: black;
    margin: 10px;
    width: 400px;
    height: 170px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/*-------------------- ScrollBar --------------------*/
::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(35, 35, 35, 0.782); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(105, 105, 105, 0.5); 
}
/*-------------------- End ScrollBar --------------------*/

.tableau{
    color: black;
}

th{
    border: 1px solid black;
}

td {
    text-align: center;
}