{% extends 'base.html.twig' %}

{% block title %}Modification du Campus{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/form.css')}}">
{% endblock %}

{% block main %}

    <div class="form">
        <h1>Modifier le campus</h1>

        {{ include('campus/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('app_admin') }}">Retour à l'admin</a>

        {{ include('campus/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
