{% extends 'base.html.twig' %}

{% block title %}Création d'un campus{% endblock %}

{% block main %}
    <h1>Créer un nouveau campus</h1>

    {{ include('campus/_form.html.twig') }}

    <a href="{{ path('app_admin') }}">Retour à l'admin</a>
{% endblock %}
