{% extends 'base.html.twig' %}

{% block title %}Edit Campus{% endblock %}

{% block main %}
    <h1>Modifier un Campus</h1>

    {{ include('campus/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_campus_index') }}">Retour à la liste</a>

    {{ include('campus/_delete_form.html.twig') }}
{% endblock %}
