{% extends 'base.html.twig' %}

{% block title %}création d'un participant{% endblock %}

{% block main %}
    <h1>Créer un nouveau participant</h1>

    {{ include('participant/_form.html.twig') }}

    <a href="{{ path('app_admin') }}">Retour à l'admin</a>
{% endblock %}
