{% extends 'base.html.twig' %}

{% block title %}Modification de la Sortie{% endblock %}

{% block main %}
    <h1>Modifier la Sortie</h1>

    {{ include('sortie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_admin') }}">Retour à l'admin</a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
