{% extends 'base.html.twig' %}

{% block title %}création d'un nouvelle ville{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/form.css')}}">
{% endblock %}

{% block main %}

    <div class="form">
        <h1>Créer une ville</h1>

    {{ include('ville/_form.html.twig') }}

    <a href="{{ path('app_admin') }}">Retour à l'admin</a>
    </div>
    
{% endblock %}
