{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/form.css')}}">
{% endblock %}

{% block main %}

    <div class="form">
        <h1> Sortie</h1>
        
        {{ include('sortie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_sortie_index') }}">Acceuil</a>

        {{ include('sortie/_delete_form.html.twig') }}
    </div>

    
{% endblock %}
