{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sortieIndex.css')}}">
{% endblock %}

{% block title %}Sortie index{% endblock %}

{% block main %}
    
    <div class="title">
        <h1> Les sorties </h1>
    </div>
    
    <div class="card-content">
    {% for sortie in sorties %}
            
        <div class="card">
            <img src="light.jpg" alt="light" class="icon">
            <p class="title">Favourites</p>
            <p class="text">Check all your favourites in one place.</p>
        </div>

    {% endfor %}
    </div>
    
{% endblock %}
