{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block main %}
    <h1>Creer une nouvelle Sortie</h1>

    {{ include('sortie/_form.html.twig') }}

            


    <a href="{{ path('app_sortie_index') }}">Retour à la liste</a>
{% endblock %}
