{% extends 'base.html.twig' %}

{% block title %}Nouvelles sortie{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/form.css')}}">
{% endblock %}

{% block main %}

    <div class="form">
        <h1>Creer une nouvelle Sortie</h1>

        {{ include('sortie/_form.html.twig') }}

        <a href="{{ path('app_sortie_index') }}">Accueil</a>
    </div>

{% endblock %}
