<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        <!-- UIkit CSS -->
        <link rel="stylesheet" href="{{ asset('css/pages.css')}}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.3/dist/css/uikit.min.css" />
        

        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
        {% endblock %}
    </head>
    <header>
    {% block header %}
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">

            <div class="uk-navbar-center-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="Accueil">Accueil</a></li>
                    <li class="uk-active">
                    <a href="#">Sortie</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="#">Créer</a></li>
                            <li><a href="#">Modifier</a></li>
                            <li><a href="#">Supprimer</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <a class="uk-navbar-item uk-logo" href="#">
        <svg width="160" height="70" viewBox="0 0 320 139.6488646735824" class="css-1j8o68f">
            <defs id="SvgjsDefs1178"></defs>
            <g id="SvgjsG1179" featurekey="symbolFeature-0" transform="matrix(0.6365664575051385,0,0,0.6365664575051385,0.05907072477135777,0)" fill="#415f9d">
                <defs xmlns="http://www.w3.org/2000/svg"></defs>
                <g xmlns="http://www.w3.org/2000/svg">
                    <path class="fil0" d="M7 122c-8,20 -10,46 -2,81 1,-27 4,-54 2,-81z" style="fill: #415f9d;"></path>
                    <path class="fil0" d="M56 70c-10,5 -19,12 -27,19 3,40 -9,73 -18,110 4,-7 8,-15 12,-22 16,-32 33,-63 33,-107z" style="fill: #415f9d;"></path>
                    <path class="fil0" d="M114 36c-7,5 -14,9 -21,13 -6,60 -37,89 -68,134 40,-51 80,-74 89,-147z" style="fill: #415f9d;"></path>
                    <path class="fil0" d="M157 60c-2,-21 -6,-42 -12,-60 -5,88 -40,112 -97,166 44,-34 84,-51 109,-106z" style="fill: #415f9d;"></path>
                    <path class="fil0" d="M150 150c3,-11 6,-23 7,-36 -39,39 -94,49 -135,85 41,-25 86,-28 128,-49z" style="fill: #415f9d;"></path>
                    <path class="fil0" d="M105 208c10,-5 18,-13 26,-21 -38,5 -73,5 -110,19 29,-4 55,-1 84,2z" style="fill: #415f9d;"></path>
                    <path class="fil0" d="M9 213c25,6 46,8 64,5 -12,-5 -53,-10 -64,-5z" style="fill: #415f9d;"></path>
                </g>
            </g>
            <g id="SvgjsG1180" featurekey="nameFeature-0" transform="matrix(0.8246061177076917,0,0,0.8246061177076917,118.88878617120089,50.46087323492819)" fill="#233b6e">
                <path d="M10.918 33.7891 l-0.019531 -0.039063 c1.7383 0 3.1836 -1.4453 3.1836 -3.1836 c0 -1.3477 -0.52734 -2.207 -1.6016 -2.5977 c-2.2656 -0.83984 -1.7188 -0.64453 -3.9258 -1.4063 c-2.3242 -0.80078 -4.4727 -2.3828 -5.918 -4.3555 c-0.85938 -1.1719 -1.2891 -2.6172 -1.2891 -4.3555 c0 -2.6172 0.9375 -4.8633 2.8125 -6.7383 s4.1211 -2.8125 6.7578 -2.8125 c2.6172 0 4.8633 0.9375 6.7383 2.8125 s2.8125 4.1211 2.8125 6.7383 l-6.3477 0 c0 -1.7188 -1.4453 -3.1641 -3.1641 -3.1641 c-1.7383 0 -3.1836 1.4453 -3.1836 3.1836 c0 1.1328 0.44922 1.9922 1.3672 2.5781 c1.875 1.2109 1.6602 0.97656 3.9063 1.6406 c2.4219 0.70313 4.6094 2.207 6.1133 4.1406 c0.87891 1.1328 1.3281 2.5977 1.3281 4.375 c0 2.6367 -0.9375 4.8828 -2.8125 6.7578 s-4.1211 2.8125 -6.7383 2.8125 c-2.6367 0 -4.8828 -0.9375 -6.7578 -2.8125 s-2.8125 -4.1211 -2.8125 -6.7578 l6.3672 0 c0 1.7578 1.4258 3.1836 3.1836 3.1836 z M38.49640625 8.359000000000002 c4.375 0 8.125 1.5625 11.25 4.6875 s4.6875 6.875 4.6875 11.25 s-1.5625 8.125 -4.6875 11.23 s-6.875 4.668 -11.25 4.668 s-8.125 -1.5625 -11.23 -4.668 s-4.668 -6.8555 -4.668 -11.23 s1.5625 -8.125 4.668 -11.25 s6.8555 -4.6875 11.23 -4.6875 z M38.49640625 14.707 c-2.6367 0 -4.8828 0.9375 -6.7383 2.8125 s-2.793 4.1211 -2.793 6.7383 c0 2.6367 0.9375 4.8828 2.793 6.7383 s4.1016 2.793 6.7383 2.793 c2.6172 0 4.8633 -0.9375 6.7383 -2.793 s2.8125 -4.1016 2.8125 -6.7383 c0 -2.6172 -0.9375 -4.8633 -2.8125 -6.7383 s-4.1211 -2.8125 -6.7383 -2.8125 z M56.73828125 40 l-0.019531 -31.523 l10.234 0 c3.0273 0 6.0156 1.0547 8.1836 3.2227 s3.0469 4.1992 3.0469 7.2266 l0 0.97656 c0 2.3438 -0.66406 4.0625 -1.9922 5.9375 s-2.4414 2.4219 -4.5117 3.2031 l7.1094 10.957 l-7.6953 0 l-8.0469 -12.305 l0 12.305 l-6.3086 0 z M63.02738125 23.633 l4.5117 0.019531 c1.3086 0 1.9727 -0.33203 2.8906 -1.25 s1.25 -1.9727 1.25 -3.2813 c0 -1.2891 -0.33203 -2.1484 -1.25 -3.0859 s-2.5586 -1.2695 -3.8672 -1.2695 l-3.5352 0 l0 8.8672 z M89.19925 8.515999999999998 l6.3086 0 l7.8711 0 l0 6.2891 l-7.8711 0 l0 25.195 l-6.3086 0 l0 -25.195 l-7.8711 0 l0 -6.2891 l7.8711 0 z M106.11328125 40 l0 -31.484 l6.3086 0 l0 31.484 l-6.3086 0 z M115.546875 40 l-0.019531 -31.523 l10.234 0 c3.0273 0 6.0156 1.0547 8.1836 3.2227 s3.0469 4.1992 3.0469 7.2266 l0 0.97656 c0 2.3438 -0.66406 4.0625 -1.9922 5.9375 s-2.4414 2.4219 -4.5117 3.2031 l7.1094 10.957 l-7.6953 0 l-8.0469 -12.305 l0 12.305 l-6.3086 0 z M121.835975 23.633 l4.5117 0.019531 c1.3086 0 1.9727 -0.33203 2.8906 -1.25 s1.25 -1.9727 1.25 -3.2813 c0 -1.2891 -0.33203 -2.1484 -1.25 -3.0859 s-2.5586 -1.2695 -3.8672 -1.2695 l-3.5352 0 l0 8.8672 z M140.13674375 36.6992 c0 -2.2266 1.7969 -4.0234 4.0234 -4.0234 s4.0234 1.7969 4.0234 4.0234 s-1.7969 4.0234 -4.0234 4.0234 s-4.0234 -1.7969 -4.0234 -4.0234 z M166.23078125 8.359000000000002 l-0.019531 0.078125 c2.1875 0 4.2383 0.41016 6.1719 1.25 s3.6328 1.9727 5.0977 3.3984 l-4.4922 4.4922 c-1.8945 -1.875 -4.1406 -2.8125 -6.7383 -2.8125 c-2.6367 0 -4.8828 0.9375 -6.7383 2.8125 s-2.793 4.1211 -2.793 6.7383 c0 2.6367 0.9375 4.8828 2.793 6.7383 s4.1016 2.793 6.7383 2.793 s4.8828 -0.9375 6.7578 -2.8125 l4.4922 4.4922 c-1.4648 1.4453 -3.1641 2.5781 -5.0977 3.418 s-3.9844 1.25 -6.1719 1.25 c-4.375 0 -8.125 -1.5625 -11.23 -4.668 s-4.668 -6.8555 -4.668 -11.23 s1.5625 -8.125 4.668 -11.25 s6.8555 -4.6875 11.23 -4.6875 z M194.94171875 8.359000000000002 c4.375 0 8.125 1.5625 11.25 4.6875 s4.6875 6.875 4.6875 11.25 s-1.5625 8.125 -4.6875 11.23 s-6.875 4.668 -11.25 4.668 s-8.125 -1.5625 -11.23 -4.668 s-4.668 -6.8555 -4.668 -11.23 s1.5625 -8.125 4.668 -11.25 s6.8555 -4.6875 11.23 -4.6875 z M194.94171875 14.707 c-2.6367 0 -4.8828 0.9375 -6.7383 2.8125 s-2.793 4.1211 -2.793 6.7383 c0 2.6367 0.9375 4.8828 2.793 6.7383 s4.1016 2.793 6.7383 2.793 c2.6172 0 4.8633 -0.9375 6.7383 -2.793 s2.8125 -4.1016 2.8125 -6.7383 c0 -2.6172 -0.9375 -4.8633 -2.8125 -6.7383 s-4.1211 -2.8125 -6.7383 -2.8125 z M213.18359375 7.93 l15.352 21.055 l15.352 -21.055 l0 32.07 l-6.3086 0 l0 -12.988 l-9.043 12.48 l-9.043 -12.48 l0 12.988 l-6.3086 0 l0 -32.07 z"></path>
            </g>   
        </svg>
        </a>
        <div class="uk-navbar-center-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Mon compte</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="#">Voir mon profil</a></li>
                            <li><a href="#">Editer</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>
    {% endblock %}
    </header>
    <body>
    
     <div class="divPrincipale">
        <div class="contenu">
            {% block main %}s
            <h1> TEST </h1>
            {% endblock %}
        </div>
     </div>
        
    
    <footer uk-sticky="position: bottom">
        <div class="divFooter">
        {% block footer %}
            <div class="elemFooter">
                <div class="elementfooter"><a> Contactez nous </a></div>
                <div class="elementfooter"><a> Je suis Batman </a></div>
                <div class="elementfooter"><a> L'ENI Ecole informatique </a></div>
                <div class="elementfooter"><a> Mentions légales </a></div>
            </div>
        {% endblock %}
        </div>
    </footer>
    </body>
        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.3/dist/js/uikit-icons.min.js"></script>
    
</html>
